<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{Product.title}}
      
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img id="prd" class="img-fluid" src="{{Product.img}}" alt="">
      </div>
  
      <div class="col-md-4">
        
        <h3 class="my-3">Product Details</h3>
        <ul>
          <li>{{Product.dax}}</li>
          <li>{{Product.dax2}}</li>
          <li>{{Product.dax3}}</li>
          
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    
    <!-- /.row -->
    <div class="row">
  
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
                <img id="iphone" class="img-fluid mt-4"src="{{Product.img5}}" alt="">
              </a>
        </div>
    
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img id="iphone" class="img-fluid mt-4"src="{{Product.img2}}" alt="">
              </a>
        </div>
    
        <div id="iphone" class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img id="iphone" class="img-fluid mt-4"src="{{Product.img3}}" alt="">
              </a>
        </div>
    
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img id="iphone" class="img-fluid mt-4"src="{{Product.img4}}" alt="">
              </a>
        </div>
    
      </div>
      <!-- /.row -->
    
    </div>
  
  
  <!-- /.container -->
